@import 'variables';
@import 'mixins';
@import 'default';

.slider,
.items {
    position: relative;
}

.slider .arrow,
.items .item,
.items .item-text {
    position: absolute;
}

.slider {

    .title {
        margin: 20px 0;
    }

    .arrow {
        background: lightblue;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        font-size: 18px;
        height: 48px;
        line-height: 48px;
        outline: none;
        width: 48px;
        &.next {
            right: 0;
        }
    }
}

.items,
.item {
    height: 300px;
    max-width: 500px;
    width: 100%;
}

.items {
    margin: 0 auto;
    
    .item {
        list-style: none;
        @include my-transition(.3s);
        &.fade-in {
            opacity: 1;
        }
        &.fade-out {
            opacity: 0;
        }
        &:first-child {
            background: red;
        }
        &:nth-child(2) {
            background: blue;
        }
        &:nth-child(3) {
            background: orange;
        }
        &:nth-child(4) {
            background: purple;
        }
        &:last-child {
            background: green;
        }
    }

    .item-text {
        bottom: 30px;
        color: $white;
        font-size: 18px;
        width: 100%;
    }
}

.bullets-wrapper {
    justify-content: center;
    margin-top: 10px;
    
    .bullet {
        border: 1px solid lightblue;
        border-radius: 50%;
        height: 15px;
        width: 15px;
    
        &.active {
            background: lightblue;
        }
        &:not(:last-child) {
            margin-right: 5px;
        }    
    }
}

@media only screen and (max-width: 767px) {
    .slider {
        .arrow {
            bottom: -60px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .slider {
        .arrow {
            top: 45%;
        }
    }
}